/*Strip the ul of padding and list styling*/
 .nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}
/*Create a horizontal list with spacing*/
.nav li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}
/*Style for menu links*/
.nav li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	/* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	color: #5F9F9F;
	background: #DCD9BF;
	text-decoration: none;
}
/*Hover state for top level links*/
.nav li:hover a {
	background: #5F9F9F;
	color:#DCD9BF;
}
/*Style for dropdown links*/
.nav li:hover ul a {
	background: #0D5661;
	color: #DCD9BF;
	height: 40px;
	line-height: 40px;
}
/*Hover state for dropdown links*/
.nav li:hover ul a:hover {
	background: #FEF5E4;
	color: #0D5661;
}
/*Hide dropdown links until they are needed*/
.nav li ul {
	display: none;
}
/*Make dropdown links vertical*/
.nav li ul li {
	display: block;
	float: none;
}
/*Prevent text wrapping*/
.nav li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}
/*Display the dropdown on hover*/
.nav ul li a:hover + .hidden, .hidden:hover {
	display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	/* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	display: none;
}
/*Hide checkbox*/
.nav input[type=checkbox]{
	display: none;
}
/*Show menu when invisible checkbox is checked*/
.nav input[type=checkbox]:checked ~ #menu{
	display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
	/*Make dropdown links appear inline*/
	.nav ul {
			position: static;
			display: none;
	}
	/*Create vertical spacing*/
	.nav li {
			margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	.nav ul li, li a {
			width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
			display:block;
	}
}