/* Place font info for the modal here if you'd like */




/* Step 1 Put your content that you would like your modal to cover in a div with this class. */
.miniWrapperGrid  {
	display:grid;

}

/* Adjust the position shape color etc of the modal by adjusting this class */
.modal  {	
	background-color:darkgoldenrod;
	position:relative;
	left: 10%;
	right: 10%;
	top: 10%;
	bottom: 10%;

	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

	z-index: 1;
	min-height: 300px;
	max-height: 500px;
	height: 40%;
	border:1px solid black;
	border-radius: 6px;
	padding: 1em .5em 1em 1em;
	filter: drop-shadow(16px 16px 10px black);
}

/*****************   Media Queries   ************/


@media screen and (max-width: 800px) {
	.modal  {
		max-width:70%;
	}
}

@media screen and (max-width: 500px) {
	.modal  {
		max-width:90%;
		left: 0px;
		right: 5%;
		top: 5%;
		bottom: 5%;
	}
}